// COLORS

$color-black: #000;
$color-white: #fff;

$color-primary: #8DBB5A;
$color-primary-dark: #759C4B;


$color-secondary: #FF9046;

$color-tertiary: #D30000;

$color-white-light: #F4F4F4;
$color-regular-text: #898989;
$color-dark-text: #383A48;

$color-gray-light: #CCCCCC;
$color-gray-dark: #4F4F4F;

// TYPOGRAPHY

$font-main: 'Open Sans', sans-serif;
$font-heading: 'Allura', cursive;
